@use "../abstract/variables" as *;

header {
  margin-bottom: 6rem;

  .nav {
    width: 17rem;

    &__item {
      list-style-type: none;
      font-size: 1rem;
      color: $primary-color-2;

      &:nth-child(1) {
        width: 4rem;
      }

      &:nth-child(2) {
        width: 2.8rem;
      }

      &:nth-child(3) {
        width: 3.5rem;
      }

      &:hover {
        cursor: pointer;
        font-weight: 700;
        text-decoration-line: underline;
        color: $primary-color-1;
      }
    }
  }
}
