@use "../abstract/variables" as *;

.btn {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  color: $neutral-color-1;
  background-color: $accent-color-1;
  outline: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background-color: $btn-hover;
  }

  &--hero {
    height: 2.4rem;
    width: 37.5%;
    padding: 0.5rem;
  }

  &--sign-up {
    height: 2.8rem;
    width: 12rem;
    padding: 0.5rem 1.5rem;
  }
}
